/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: SemiBold, sans-serif;
}
.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.head {
  padding-top: 10vw;
  font-weight: 500;
  font-size: max(2.75rem, 4.17vw);
  text-align: center;
}
.search-bar {
  padding: 2px 20vw;
}
.eg-search {
  margin-left: 20vw;
  padding-left: 1rem;
}
@media (max-width: 600px) {
  .search-bar {
    padding: 2px 2vw;
  }
  .eg-search {
    margin-left: 2vw;
  }
}

:root {
  --cardWidth: 240px;
  --cardHeight: 280px;
  --cardMargin: 16px;
}

.main-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 25vw;
  /* height: var(--cardHeight); */
  margin: var(--cardMargin);
  border: 1px #ccc;
  border-radius: 12px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1000px) {
  .card {
    width: var(--cardWidth);
  }
}
.card-head {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.profile-pic img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.profile-details {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
}
.profile-name {
  height: 25px;
}
.profile-tw-id {
  height: 15px;
}
.card-body-text {
  padding: 12px 0px;
}
.capsule {
  width: fit-content;
  margin: 4px 8px;
  padding: 4px;
  border-radius: 16px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
}
.popular-hashtags {
  padding: 0px 5vw;
}
.footer {
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.footer-top {
  display: flex;
  flex-direction: row;
  height: 150px;
  padding: 0px 15vw;
}
.footer-top-x {
  width: 33.3vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.footer-bottom-a {
  text-align: center;
  align-items: center;
  padding: 16px;
}
/* sidebar */

main {
  width: 20vw;
  /*   min-width: 315px; */
  padding: 30px;
  /* background-color: #fff; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

main section h2 {
  width: -moz-fit-content;
  width: fit-content;
  padding-block: 20px;
  color: #000;
  position: relative;
}

main section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main .category ul li {
  position: relative;
  padding-bottom: 22px;
  font-weight: 600;
  color: #555;
}

main .category ul li:not(:last-child) {
  border-bottom: 1px solid #000;
}

main .category ul li span {
  width: 35px;
  padding: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  right: 5px;
}
/* dropdown */
.dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.selectColor {
  position: relative;
  padding: 10px;
  border: none;
  outline: none;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  background: #fff;
}
